{
  "presets": ["es2015", "stage-3", "react"],
  "plugins": [
      "transform-decorators-legacy",
      "react-hot-loader/babel",
	  ["import", {
		  "libraryName": "antd",
		  "style": true
 		}
	  ],
  ]
}
