{
  "presets": [
    "babel-preset-env",
    "babel-preset-react"
  ],
  "plugins": [
	"transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    "syntax-dynamic-import",
    "react-loadable/babel",
    [
      "import",
      {
	      "libraryName": "antd",
	      "style": true
      }
    ]
  ]
}
